@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&family=Foldit&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    background-color: rgb(0, 0, 0);
    background-blend-mode:darken;

    color: white;

    overflow-x: hidden;
}


a {
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: white;
}

::-webkit-scrollbar-track {
    background-color: #000000;
}

::selection {
    background-color: rgb(239, 239, 239);
    color: black;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px 20px 10px;
    margin: 0px 0px 0px 0px;
    z-index: 1;
    
    transition: 0.2s ease;
}

#nav-links-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
    margin: 0px 20px;
}

#navbar #logo-div a {
    font-family: 'Foldit', cursive;
    font-size: 1.8rem;
    margin: 0px 0px 0px 5px;
}

#nav-links-div ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
    margin: 0px 0px;
    padding: 0px 0px;
}

#nav-links-div ul li {
    margin: 3px 8px;
}

#nav-links-div ul li a {
    color: rgba(255, 255, 255, 0.922);
    font-size: 0.9rem;
    margin: 0px 5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
}
#nav-links-div ul li a:hover {
    color: rgba(255, 255, 255, 0.582);
    cursor: pointer;
}

#register-form-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 90vh;
    margin-top: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#form-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 0px 0px 20px 0px;

    text-align: center;
}

.form-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;

    padding: 5px 5px;
    background-color: rgba(0, 0, 0, 0.582);
    
}

.form-top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.form-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.form-col {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.364);
    box-shadow: 0px 0px 10px 0px rgba(190, 190, 190, 0.582);
    
    padding: 20px 20px;
    margin: 0px 10px;
}

.form-row {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    width: 90%;

    padding: 5px 10px;
    margin: 0px 0px;
}

input[type=checkbox], input[type=radio]{
    width: 10px;
    height: 20px;
    margin: 0px 5px;
}

.form-row #interests, .form-row #payment {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    
    width: 100%;
    
    padding: 5px 0px;
    margin: 0px 0px;
}

.form-row #interests label, .form-row #payment label {
    margin-right: 10px;
}

input, select, textarea {
    width: 100%;
    padding: 6px 5px;
    margin: 0px -3px;
    border-radius: 6px;
    border: none;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.582);
    background-color: rgba(255, 255, 255, 0);
    color: rgb(219, 219, 219);
    font-size: 1rem;
}

input {
    height: 26px;
}

select {
    height: 35px;
}

textarea {
    resize: none;
    height: 90px;
}

input:hover, select:hover, textarea:hover {
    background-color: rgba(27, 27, 27, 0.582);
}

option {
    background-color: rgba(0, 0, 0, 0.964);
}

.form-row.submit-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;

    padding: 5px 10px;
    margin: 0px 0px;
}

button[type=submit] {
    width: 70%;
    height: 43px;
    padding: 6px 5px;
    margin: 20px 0px 0px 0px;
    border-radius: 10px;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.582);
    background-color: rgba(255, 255, 255, 0);
    color: rgb(219, 219, 219);
    font-family: 'Rubik Doodle Shadow', cursive;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
}

button[type=submit]:hover {
    background-color: rgba(255, 255, 255, 0.771);
    color: black;
    font-weight: 600;
}

#forgot-pwd {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    align-self: flex-end;
}

#register-btn {
    width: 50%;
    margin-left: 4px;
    align-self: flex-start;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

@media screen and (max-width: 1183px) {
    .form-container {
        flex-direction: column;
    }

    .form-top {
        width: 100%;
    }

    .form-bottom {
        margin-top: 20px;
        width: 100%;
    }

    .form-bottom input{
        width: 105%;
    }

    .form-bottom #interests, .form-bottom #payment {
        justify-content: flex-start;
    }

    .form-bottom input[type=radio], .form-bottom input[type=checkbox] {
        width: 10px;
        height: 20px;
        margin: 10px 5px 10px 25px;
    }

    .form-row.submit-form {
        flex-direction: column;
        align-items: flex-end;
    }

    button[type=submit] {
        width:30%;        
        cursor: pointer;
        margin-right: 30px;
    }
}


@media screen and (max-width: 767px) {
    .nav-dropdown {
        display: none;
    }
    
    #navbar {
        display: block;
        padding: 10px 10px 10px 10px;
    }

    #nav-links-div ul li a {
        font-size: 0.8rem;
    }

    #form-header {
        margin: 0px 0px 0px 0px;
    }

    .form-container {
        flex-direction: column;
        border: 1px solid rgba(255, 255, 255, 0.582);
        border-radius: 20px;
        box-shadow: 0px 0px 10px 0px rgba(190, 190, 190, 0.582);
    }

    .form-col {
        border: none;
        box-shadow: none;
        align-items: center;
        justify-content: center;
    }

    .form-row {
        flex-direction: row;
        justify-content: space-between;
    }

    .form-top {
        flex-direction: column;
    }
    
    .form-bottom{
        margin-top: 0px;
        margin-left: -10px;
        flex-direction: column;
    }

    .form-top input, .form-bottom input, select, textarea{
        width: 50%;
    }

    .form-bottom input[type=radio], .form-bottom input[type=checkbox] {
        margin: 10px 5px 10px 15px;
    }

    .form-row #interests, .form-row #payment {
        justify-content: flex-end;
    }

    .form-row #interests label, .form-row #payment label {
        margin-right: 0px;
    }

    .form-row.submit-form {
        flex-direction: column;
        align-items: flex-end;
    }

    button[type=submit] {
        width:90%;        
        cursor: pointer;
        margin-right: 30px;
    }

    #register-btn {
        margin-left: 18px;
    }

}

@media screen and (max-width: 430px){
    .form-row {
        flex-direction: column;
        justify-content: flex-start;
    }
    
    .form-top input, .form-bottom input, select, textarea {
        width: 98%;
    }
    
    .form-bottom #interests, .form-bottom #payment {
        justify-content: flex-start;
    }   
    
    .form-bottom input[type=radio], .form-bottom input[type=checkbox] {
        padding-top: 0px;
        margin: 10px 5px 10px 15px;
    }

    button[type=submit] {
        width: 80%;
    }
}

@media screen and (max-width: 375px) {
    .form-bottom #interests, .form-bottom #payment {
        flex-direction: row;
        gap: 5px;
    } 
    .form-bottom input[type=radio], .form-bottom input[type=checkbox] {
        padding-top: 0px;
        margin: 0px 2px 0px 0px;
    }
    .form-row.submit-form {
        flex-direction: column;
        align-items: center;
    }
    
    button[type=submit] {
        width:50%;        
        cursor: pointer;
        margin: 0px;
    }

    #register-btn {
        margin-top: 20px;
        margin-left: 9px;
    }
}

